In [3]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt

%matplotlib inline

path = "c:/Windows/Fonts/malgun.ttf"

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname=path).get_name()
rc('font', family=font_name)

plt.rcParams['axes.unicode_minus'] = False

In [12]:
population = pd.read_csv('C:\\Users\\82109\\Desktop\\data_science\\data\\연령별인구현황.csv', encoding="cp949")
population.fillna(method='pad', inplace=True)
population.rename(columns={'2021년08월_계_총인구수':'총인구수',
                          '2021년08월_계_0~9세':'0~9세',
                          '2021년08월_계_10~19세':'10~19세',
                          '2021년08월_계_20~29세':'20~29세',
                          '2021년08월_계_30~39세':'30~39세',
                          '2021년08월_계_40~49세':'40~49세',
                          '2021년08월_계_50~59세':'50~59세',
                          '2021년08월_계_60~69세':'60~69세',
                          '2021년08월_계_70~79세':'70~79세',
                          '2021년08월_계_80~89세':'80~89세',
                          '2021년08월_계_90~99세':'90~99세',
                          '2021년08월_계_100세이상':'100세 이상',},inplace=True)


population

,행정구역,총인구수,2021년08월_계_연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,2021년08월_여_10~19세,2021년08월_여_20~29세,2021년08월_여_30~39세,2021년08월_여_40~49세,2021년08월_여_50~59세,2021년08월_여_60~69세,2021년08월_여_70~79세,2021년08월_여_80~89세,2021년08월_여_90~99세,2021년08월_여_100세 이상
0,서울특별시,"9,550,227","9,550,227","596,448","763,356","1,439,293","1,446,242","1,493,290","1,505,336","1,277,991",...,"372,275","744,950","723,650","753,348","763,863","674,189","379,325","175,062","30,683","1,893"
1,부산광역시,"3,359,527","3,359,527","223,790","267,212","421,122","408,986","504,235","556,023","546,088",...,"129,528","202,411","199,393","249,883","285,271","288,209","161,933","77,112","11,834",605
2,대구광역시,"2,393,626","2,393,626","171,117","220,036","314,020","286,886","375,350","419,481","339,189",...,"105,235","146,680","136,863","190,026","213,910","177,802","99,050","52,377","7,710",304
3,인천광역시,"2,938,429","2,938,429","220,236","271,571","393,256","400,549","480,219","508,757","391,192",...,"131,946","188,312","193,176","234,414","254,523","197,435","96,777","52,853","9,970",422
4,광주광역시,"1,441,970","1,441,970","115,509","153,624","207,467","182,218","236,974","234,286","169,907",...,"74,080","99,186","88,977","119,291","117,974","88,888","52,339","26,749","4,701",210
5,대전광역시,"1,454,679","1,454,679","109,542","143,384","210,407","190,417","232,653","239,536","188,339",...,"69,266","99,999","90,790","116,707","119,929","96,981","50,037","27,012","4,622",174
6,울산광역시,"1,124,459","1,124,459","93,908","110,407","139,883","146,836","184,554","206,621","153,461",...,"52,410","60,931","68,735","90,266","101,716","76,184","32,407","15,648","2,629",74
7,세종특별자치시,"365,309","365,309","46,951","44,563","38,185","61,164","71,243","47,168","32,723",...,"22,139","18,639","31,320","35,064","22,521","16,481","7,824","4,885","1,002",29
8,경기도,"13,530,519","13,530,519","1,115,729","1,327,046","1,809,234","1,898,766","2,295,088","2,254,613","1,637,036",...,"644,846","856,195","917,634","1,127,519","1,112,009","822,782","419,974","231,880","41,085","1,782"
9,강원도,"1,536,270","1,536,270","102,340","134,698","176,503","162,968","220,045","263,947","255,310",...,"64,782","77,179","77,205","107,188","127,757","127,953","73,426","48,332","8,920",357
10,충청북도,"1,597,179","1,597,179","119,045","147,072","196,158","191,827","237,631","269,862","237,954",...,"70,660","87,053","89,633","114,500","130,907","118,443","65,529","44,515","7,346",251
11,충청남도,"2,118,183","2,118,183","166,048","201,255","239,796","261,608","325,856","338,059","295,834",...,"96,830","107,080","120,658","152,092","158,843","147,316","93,151","66,622","11,465",425
12,전라북도,"1,792,476","1,792,476","122,405","171,386","209,061","184,140","261,996","298,043","265,736",...,"82,643","95,986","89,063","127,211","143,167","134,337","94,822","62,218","11,219",445
13,전라남도,"1,838,353","1,838,353","126,566","164,135","196,634","180,509","254,139","311,930","281,851",...,"79,108","86,589","85,553","118,394","143,965","139,492","106,398","77,742","13,570",545
14,경상북도,"2,630,254","2,630,254","182,105","223,048","279,578","282,760","378,164","453,874","428,519",...,"105,906","121,197","131,676","181,028","218,513","215,079","133,477","93,348","15,752",564
15,경상남도,"3,322,373","3,322,373","256,482","320,646","369,145","386,080","529,780","576,850","487,653",...,"153,221","163,188","184,000","257,066","281,592","245,301","137,311","88,143","14,778",427
16,제주특별자치도,"675,883","675,883","58,964","70,290","81,634","81,233","111,576","114,182","83,217",...,"33,523","38,416","40,335","54,338","54,806","41,923","24,835","16,400","3,506",198

In [24]:
s_population = pd.read_table('C:\\Users\\82109\\Desktop\\data_science\\data\\report.txt',sep='\t')
s_population

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
3,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
4,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"
5,2021.2/4,용산구,"111,650","240,665","116,858","123,807","226,378","108,948","117,430","14,287","7,910","6,377",2.03,"38,884"
6,2021.2/4,성동구,"134,542","295,767","143,927","151,840","289,162","141,042","148,120","6,605","2,885","3,720",2.15,"45,591"
7,2021.2/4,광진구,"166,957","355,306","170,624","184,682","342,481","165,233","177,248","12,825","5,391","7,434",2.05,"50,815"
8,2021.2/4,동대문구,"166,372","352,259","172,865","179,394","338,040","167,335","170,705","14,219","5,530","8,689",2.03,"61,262"
9,2021.2/4,중랑구,"185,073","394,679","194,556","200,123","389,972","192,688","197,284","4,707","1,868","2,839",2.11,"70,172"
10,2021.2/4,성북구,"194,364","443,206","212,849","230,357","433,658","209,210","224,448","9,548","3,639","5,909",2.23,"73,568"
11,2021.2/4,강북구,"144,525","306,093","148,824","157,269","302,645","147,542","155,103","3,448","1,282","2,166",2.09,"63,383"
12,2021.2/4,도봉구,"138,387","322,419","156,843","165,576","320,365","156,080","164,285","2,054",763,"1,291",2.31,"62,894"
13,2021.2/4,노원구,"217,322","520,005","250,532","269,473","515,997","248,719","267,278","4,008","1,813","2,195",2.37,"86,697"
14,2021.2/4,은평구,"213,662","479,409","229,241","250,168","475,371","227,584","247,787","4,038","1,657","2,381",2.22,"85,921"
15,2021.2/4,서대문구,"143,226","317,699","150,608","167,091","307,070","146,844","160,226","10,629","3,764","6,865",2.14,"53,627"
16,2021.2/4,마포구,"178,625","379,984","177,998","201,986","370,132","174,200","195,932","9,852","3,798","6,054",2.07,"53,891"
17,2021.2/4,양천구,"181,012","454,288","222,538","231,750","450,992","221,140","229,852","3,296","1,398","1,898",2.49,"66,942"
18,2021.2/4,강서구,"269,276","582,995","280,822","302,173","577,519","278,360","299,159","5,476","2,462","3,014",2.14,"90,404"
19,2021.2/4,구로구,"180,258","424,582","210,936","213,646","399,266","197,034","202,232","25,316","13,902","11,414",2.21,"71,186"
20,2021.2/4,금천구,"115,358","244,685","124,394","120,291","230,168","116,491","113,677","14,517","7,903","6,614",2,"40,181"
21,2021.2/4,영등포구,"185,025","402,375","199,881","202,494","377,421","186,482","190,939","24,954","13,399","11,555",2.04,"61,571"
22,2021.2/4,동작구,"183,859","397,231","191,657","205,574","387,847","187,617","200,230","9,384","4,040","5,344",2.11,"65,732"
23,2021.2/4,관악구,"274,565","502,698","251,713","250,985","488,800","245,404","243,396","13,898","6,309","7,589",1.78,"78,647"
24,2021.2/4,서초구,"171,574","422,174","202,027","220,147","418,407","200,163","218,244","3,767","1,864","1,903",2.44,"60,395"
25,2021.2/4,강남구,"232,707","536,107","256,449","279,658","531,375","254,139","277,236","4,732","2,310","2,422",2.28,"76,184"
26,2021.2/4,송파구,"280,707","664,341","320,113","344,228","658,670","317,531","341,139","5,671","2,582","3,089",2.35,"95,164"
27,2021.2/4,강동구,"200,170","469,094","230,388","238,706","465,209","228,652","236,557","3,885","1,736","2,149",2.32,"72,275"